<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form >
        <input type="text" name="q" value="<%=q %>" /><input type="submit" value="search"></br>
    </form>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Action</th>
        </tr>
        <% for (let contact of fcontacts) { %>
        <tr>
            <td><%= contact.Id %></td>
            <td><%= contact.Name %></td>
            <td><%= contact.Phone %></td>
            <td>
                <a href="/updatecontact?Id=<%= contact.Id %>" >Edit</a> 
                <a href="/deletecontact?Id=<%= contact.Id %>" >Delete</a>
            </td>
        </tr>
        <% } %>
    </table>
    <h1>Add contact</h1>
    <form action="/addcontact" method="POST">
        Name:<input type="text" name="Name" /><br/>
        Phone:<input type="text" name="Phone" /><br/>
        <input type="submit" value="add" />
    </form>

    <a href="/addcontact" >add contact</a>
</body>
</html>